$textColor: #fff;
$secondaryTextColor: #000;
$buttonColor: green;
$infoBarColor: azure;

$blue1: #66aebb;
$blue2: #3a6073;
$green1: #9af583;
$green2: #5a9225;
$yellow1: #f1d669;
$yellow2: #cec32c;
$red1: #f17b6d;
$red2: #d62a17;
